
*{
  margin: 0;
  color: #222222;
}

.wrapper{
  

  .header{
    height: 15%;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: space-between;
    font-family: 'Impact','Copperplate',sans-serif;

    &__title{
      padding: 1.2rem;
      margin-left: 4rem;

    }

    &__menu{
      display: flex;
      align-items: flex-end;
      

      .list{
        margin-right: 1.5rem;
        padding-bottom: 1rem;
        text-decoration: none;
        color: black;

        &:hover{
          background-color: yellow;
          color: #A9A9A9;
        }
      }
      .list:last-child{
        margin: 0 3rem 0.5rem 0rem;
        background-color: red;
        color: #A9A9A9;
        border-radius: 15%;
        padding: 0.8rem;
      }
    }
  }

  #map-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}